/chapter_notebooks/chapter_2/simulation_results
/chapter_notebooks/chapter_3/simulation_results
/chapter_notebooks/chapter_3/hssm_results
/chapter_notebooks/chapter_4/simulation_results
/chapter_notebooks/chapter_4/experiments